<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://teleperformance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>teleperformance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>teleperformance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$teleperformance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nht56fwv7a.database.windows.net,1433;Initial Catalog=teleperformance_db;User ID=reinduque@nht56fwv7a;Password=&quot;Tsongkie=14&quot;" Name="Data Source=tcp:nht56fwv7a.database.windows.net,1433;Initial Catalog=teleperformance_db;User Id=reinduque@nht56fwv7a;Password=Tsongkie=14" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Doctourz.ApplicationDbContext, Doctourz" MigrationConfiguration="Doctourz.Migrations.Configuration, Doctourz" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nht56fwv7a.database.windows.net,1433;Initial Catalog=teleperformance_db;User Id=reinduque@nht56fwv7a;Password=Tsongkie=14</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>